<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.NoticeMapper">

	
	<!-- 공지사항 출력 -->
	<select id="NoticeListView" resultType="NoticeVO">
	<!--SELECT * FROM notice order BY nId DESC LIMIT #{Page}, #{PageSize}
		(SELECT * FROM notice WHERE Important = 'Y') UNION (SELECT * FROM notice ORDER BY nId DESC LIMIT #{Page}, #{PageSize})
	
		SELECT * FROM notice ORDER BY nId DESC LIMIT #{Page}, #{PageSize}
		
		SELECT * FROM(SELECT * FROM notice UNION SELECT * FROM notice LIMIT #{Page}, #{PageSize}) AS a order BY Important = 'Y' DESC, nId DESC
		(SELECT * FROM notice UNION SELECT * FROM notice order BY Important = 'Y' DESC, nId DESC LIMIT #{Page}, #{PageSize}) -->
		
		SELECT * FROM notice ORDER BY notice_id DESC LIMIT #{Page}, #{PageSize}
	</select>
	
	<!-- 공지사항 총 갯수 -->
	<select id="getNoticeTotalCount" resultType="int">
		SELECT COUNT(*) FROM notice
	</select>
	
</mapper>