<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.ScheduleMapper">

	<!-- 일정 출력 -->
	<select id="ScheduleList" resultType="ScheduleVO">
		SELECT * FROM schedule
	</select>
	
	<!-- 일정 조회  -->
	<select id="ScheduleDetailView" parameterType="int" resultType="ScheduleVO">
		SELECT * FROM schedule WHERE schedule_id = #{schedule_id}
	</select>
</mapper>