<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.TimeCardMapper">

	<!-- author 김요한 -->
	<!-- 본사 메인화면 인원-->
	<select id="getTimeCardCommandCount" resultType="int">
		SELECT COUNT(*) FROM time_card WHERE work_off_check = 0 AND work_pattern = "본사" AND date_format(work_day_start, '%Y-%m-%d') = CURDATE()
	</select>
	
	<!-- 외근 메인화면 인원-->
	<select id="getTimeCardOutsideCount" resultType="int">
		SELECT COUNT(*) FROM time_card WHERE work_off_check = 0 AND work_pattern = "외근" AND date_format(work_day_start, '%Y-%m-%d') = CURDATE()
	</select>
	
	<!-- 출장 메인화면 인원-->
	<select id="getTimeCardTripCount" resultType="int">
		SELECT COUNT(*) FROM time_card WHERE work_off_check = 0 AND work_pattern = "출장" AND date_format(work_day_start, '%Y-%m-%d') = CURDATE()
	</select>
	
	<!-- 본사 인원 리스트-->
	<select id="getTimeCardCommand" resultType="TimeCardVO">
		SELECT * FROM time_card WHERE work_off_check = 0 AND work_pattern = "본사" AND date_format(work_day_start, '%Y-%m-%d') = CURDATE()
	</select>
	
	<!-- 외근  인원 리스트-->
	<select id="getTimeCardOutside" resultType="TimeCardVO">
		SELECT * FROM time_card WHERE work_off_check = 0 AND work_pattern = "외근" AND date_format(work_day_start, '%Y-%m-%d') = CURDATE()
	</select>
	
	<!-- 출장  인원 리스트-->
	<select id="getTimeCardTrip" resultType="TimeCardVO">
		SELECT * FROM time_card WHERE work_off_check = 0 AND work_pattern = "출장" AND date_format(work_day_start, '%Y-%m-%d') = CURDATE()
	</select>
	
	<!--출근-->
	<insert id="timeCardAttendanceOn">
		INSERT INTO time_card(
			member_id,
			work_pattern,
			work_place,
			work_day_start,
			work_off_check)
		VALUES(
			#{member_id},
			#{work_pattern},
			#{work_place},
			SYSDATE(),
			0)
   </insert>
   
   	<!-- 퇴근 -->
	<update id="timeCardAttendanceOff" parameterType="TimeCardVO">
		UPDATE time_card 
		SET work_day_end = SYSDATE(), work_note = #{work_note}, work_off_check = 1
		WHERE member_id = #{member_id} AND date_format(work_day_start, '%Y-%m-%d') = CURDATE() AND work_off_check = 0
 	</update>
 	
 	<!--/author 김요한  -->
</mapper>