<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ex.VacationRequestMapper">

	<!-- 메인 휴가자 집계 -->
	<select id="getVacationMainCount" resultType="int">
		SELECT COUNT(*) FROM vacation_request WHERE vacation_ok = 1 AND CURDATE() BETWEEN vacation_start_day AND vacation_end_day
	</select>
	
	<select id="getVacationList" resultType="hashMap">
		SELECT
			V.`vacation_id`,
			V.`member_no`,
			V.`vacation_kind`,
			V.`vacation_reason`,
			V.`vacation_start_day`,
			V.`vacation_end_day`,
		    M.`member_name`,
		    M.`member_class`
		FROM vacation_request V
		INNER JOIN member M ON V.member_no = M.member_no
		WHERE vacation_ok = 1 AND CURDATE() BETWEEN V.vacation_start_day AND V.vacation_end_day
	</select>
</mapper>